Question: How would you find the maximum value from the
following list?

In [2]:
Num = [3, 7, 2, 9, 4]
max_value = max(Num) # MAX Is used to find maximum value
print(max_value)

9

Question: How would you combine the following list of strings into
a single string?

In [5]:
List = ["apple", "banana", "cherry"]
result = ','.join(List) # Join is used to combine a list of strings into a single string
print(result)

apple,banana,cherry

3. Scenario: You have a dictionary where the keys are names and the
values are ages. You need to retrieve the age of a specific person.
a. Question: How would you get the age of "Dev" from the following
dictionary?

In [14]:
ages = {"Alice": 30, "Bob": 25, "Dev": 40}
age_of_dev = ages["Dev"]
print(age_of_dev)

40

. Scenario: You need to remove duplicate elements from a list while
preserving the original order of elements.
a. Question: How would you remove duplicates from the following
list?

In [16]:
original_list = [1, 2, 2, 3, 4, 4, 5]
original_list

[1, 2, 2, 3, 4, 4, 5]

In [20]:
original_list.remove(4)

In [22]:
original_list

[1, 2, 2, 3, 4, 5]

Scenario: You have a NumPy array and need to compute the sum of all
its elements.
a. Question: How would you find the sum of elements in the
following NumPy array?

In [25]:
import numpy as np

In [27]:
array = np.array([1, 2, 3, 4, 5])

total_sum = np.sum(array)

print(total_sum)

15

Scenario: You have a 2D NumPy array and need to get the maximum
value from each column.
a. Question: How would you find the maximum values for each
column in the following array?

In [30]:
import numpy as np

# Example 2D NumPy array
array = np.array([[1, 4, 7],
                  [2, 5, 8],
                  [3, 6, 9]])

# Compute the maximum values for each column
max_values = np.max(array, axis=0)

print(max_values)

[3 6 9]

Scenario: You have a DataFrame and need to sort it by a specific column.
a. Question: How would you sort the DataFrame by the "Age"
column?

In [35]:
import pandas as pd


# Assuming you have a DataFrame named df
# df = pd.DataFrame(...)

# Sort the DataFrame by the "Age" column
df_sorted = df.sort_values(by='Age')

# If you want to sort in descending order, add the argument ascending=False
# df_sorted = df.sort_values(by='Age', ascending=False)

# Print the sorted DataFrame
print(df_sorted)

In [39]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 23, 45, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)

# Sort the DataFrame by the "Age" column in ascending order
df_sorted = df.sort_values(by='Age')

# Print the original and sorted DataFrame
print("Original DataFrame:")
print(df)

print("\nSorted DataFrame by Age (ascending):")
print(df_sorted)

# If you want to sort in descending order, you can do:
df_sorted_desc = df.sort_values(by='Age', ascending=False)

print("\nSorted DataFrame by Age (descending):")
print(df_sorted_desc)

Original DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   32  Los Angeles
2  Charlie   23      Chicago
3    David   45      Houston
4      Eve   29      Phoenix

Sorted DataFrame by Age (ascending):
      Name  Age         City
2  Charlie   23      Chicago
0    Alice   25     New York
4      Eve   29      Phoenix
1      Bob   32  Los Angeles
3    David   45      Houston

Sorted DataFrame by Age (descending):
      Name  Age         City
3    David   45      Houston
1      Bob   32  Los Angeles
4      Eve   29      Phoenix
0    Alice   25     New York
2  Charlie   23      Chicago

i am suprised but this is how it came.

Scenario: You need to calculate the total sum of a column in a
DataFrame.
a. Question: How would you find the sum of the "Sales" column?

In [42]:
data = {
    'Product': ['Product A', 'Product B', 'Product C', 'Product D'],
    'Sales': [1500, 2300, 1800, 2900]
}

df = pd.DataFrame(data)

# Calculate the sum of the "Sales" column found it on web
total_sales = df['Sales'].sum()

# Print the result
print(f"Total Sales: {total_sales}")

Total Sales: 8500

Scenario: You need to check if a variable is of type int.
a. Question: How would you verify if a variable x is an integer?

In [45]:
x = 42


if isinstance(x, int): # found it on web
    print("x is an integer")
else:
    print("x is not an integer")

x is an integer

0.Scenario: You have a list of mixed types and need to create separate lists
for integers, floats, and strings.
a. Question: How would you categorize the following mixed list into
different types?

In [48]:
mixed_list = [1, 2.5, 'hello', 3, 4.0, 'world', 7]

integers = []
floats = []
strings = []

for item in mixed_list:
    if isinstance(item, int):
        integers.append(item)
    elif isinstance(item, float):
        floats.append(item)
    elif isinstance(item, str):
        strings.append(item)

print("Integers:", integers)
print("Floats:", floats)
print("Strings:", strings)

Integers: [1, 3, 7]
Floats: [2.5, 4.0]
Strings: ['hello', 'world']

Scenario: You are given a string of comma-separated numbers. You
need to convert this string into a list of integers.
a. Question: How would you achieve this conversion?

In [50]:
numbers_string = "1,2,3,4,5"

# Step 1: Split the string into a list of substrings
numbers_list = numbers_string.split(',')

# Step 2: Convert each substring to an integer
integers_list = [int(num) for num in numbers_list]

print(integers_list)

[1, 2, 3, 4, 5]

.Scenario: You need to reverse the words in a sentence while keeping the
order of the words intact.
a. Question: How would you reverse each word in the following
sentence?

In [53]:
sentence = "Hello world this is a test"

# Step 1: Split the sentence into a list of words
words = sentence.split()

# Step 2: Reverse each word in the list
reversed_words = [word[::-1] for word in words]

# Step 3: Join the reversed words back into a single string
reversed_sentence = ' '.join(reversed_words)

print(reversed_sentence)

olleH dlrow siht si a tset

3.Scenario: You need to combine two lists into a dictionary where the
elements of the first list are keys and the elements of the second list are
values.
a. Question: How would you combine the following lists into a
dictionary?

In [56]:
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]

# Step 1: Use the zip() function to pair the elements from both lists
zipped = zip(keys, values)

# Step 2: Convert the zipped object into a dictionary
combined_dict = dict(zipped)

print(combined_dict) # used google to fiure out the command

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Scenario: You are given a list of tuples where each tuple contains a name
and an age. You need to sort this list by age.
a. Question: How would you sort the following list of tuples by age?

In [60]:
people = [('Alice', 30), ('Bob', 25), ('Charlie', 35), ('David', 20)]

# Sort the list by age (second element of each tuple)
sorted_people = sorted(people, key=lambda x: x[1]) #found this function through google

print(sorted_people)

[('David', 20), ('Bob', 25), ('Alice', 30), ('Charlie', 35)]

5.Scenario: You have a 2D NumPy array and need to calculate the mean
value of each row.
a. Question: How would you compute the mean value for each row
in the following array?

In [63]:
import numpy as np

array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Compute the mean value for each row
row_means = np.mean(array, axis=1) #used google to find this function

print(row_means)

[2. 5. 8.]

.Scenario: You need to create a NumPy array of size 10 filled with zeros,
and then set the fifth element to 5.
a. Question: How would you create and modify the array as
described?

? ran multiple codes still not working

7.Scenario: You have a DataFrame and need to find the median of a
numeric column.
a. Question: How would you find the median of the "Scores" column
in the following DataFrame?

In [72]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Scores': [85, 90, 78, 92, 88]}

df = pd.DataFrame(data)

# Step 1: Access the "Scores" column
scores_column = df['Scores']

# Step 2: Find the median of the "Scores" column
median_score = scores_column.median()

print(median_score) # used google for help

88.0

Scenario: You need to filter rows where the value in the "Sales" column
is above 100 and then sort these rows by "Date" in descending order.
a. Question: How would you filter and sort the DataFrame based on
the given criteria?

In [75]:
data = {'Date': ['2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04', '2024-08-05'],
        'Sales': [95, 110, 85, 150, 130]}

df = pd.DataFrame(data)

# Step 1: Filter rows where "Sales" is above 100
filtered_df = df[df['Sales'] > 100]

# Step 2: Sort the filtered DataFrame by "Date" in descending order
sorted_df = filtered_df.sort_values(by='Date', ascending=False)

print(sorted_df)

         Date  Sales
4  2024-08-05    130
3  2024-08-04    150
1  2024-08-02    110


Scenario: You have a string containing a number and need to convert it
to an integer. Additionally, handle the case where the string might not
represent a valid integer.
a. Question: How would you safely convert the string "42" to an
integer and handle invalid cases?

ran multiple codes still can't figure it out

.Scenario: You have a list containing different data types, and you want
to separate out all the strings.
a. Question: How would you extract all string elements from the
following list?

In [80]:
mixed_list = [1, "hello", 3.14, "world", 42, True, "example"]

# Extract all string elements
strings_list = [item for item in mixed_list if isinstance(item, str)]

print(strings_list) #used google and notes for the command

['hello', 'world', 'example']